<h1>Current Discounts</h1>
<hr>

<section id="discounts_list">
<% @discounts.each do |discount| %>
  <p>Percentage: <%= (discount.percentage * 100)%>%</p>
  <p>Quantity Necessary: <%= discount.threshold %></p>
<% end %>
</section>
