<h1> <%#= @discounts.merchant.name %> Discount Index</h1>

<%# @discounts.each do |discount| %>
  <p>Percentage: <%#= discount.percentage %></p>
  <p>Quantity Necessary: <%#= discount.threshold %></p>
<%# end %>
