<h1>Discount Details</h1>
<hr>

<h3>Percentage: <%= (@discount.percentage * 100) %>%</h3><br>
<h3>Quantity Necessary: <%= @discount.threshold %></h3>

<h3><%= link_to "Update Discount Details", "/merchants/#{@discount.merchant_id}/discounts/#{@discount.id}/edit" %>
